@font-face { 
    font-family: 'Girassol'; 
    src: url('https://res.cloudinary.com/dqoncufhc/raw/upload/v1768446411/Girassol-Regular_yqaygs.ttf'); 
}

Body { 
    background-color: #1a1a1a; 
    background-image: url('https://res.cloudinary.com/dqoncufhc/image/upload/v1768446387/sfondo_k5oimx.png'); 
    background-size: cover; 
    background-attachment: fixed; 
    color: #C0C0C0; 
    font-family: 'Girassol', serif; 
    text-align: center; 
    margin: 0; 
    padding: 10px; 
}

.header-box { 
    position: relative; 
    width: 100%; 
    max-width: 450px; 
    height: 140px; 
    margin: 10px auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.header-cornice { 
    position: absolute; 
    width: 100%; 
    top: -164px; 
    left: 50%; 
    transform: translateX(-50%); 
    height: auto; 
    object-fit: contain; 
    z-index: 1; 
    pointer-events: none; 
}

h1 { 
    font-size: 19px; 
    z-index: 2; 
    width: 60%; 
    margin-top: 80px; 
    margin-left: 5px; 
    line-height: 1.2; 
    pointer-events: none; 
}

.sezione-personaggi { 
    display: flex; 
    justify-content: center; 
    margin: 10px auto 30px; 
    width: fit-content; 
    background-image: url('https://res.cloudinary.com/dqoncufhc/image/upload/v1768446411/cornice2_x1sih0.png'); 
    background-size: 100% 100%; 
    background-repeat: no-repeat; 
    padding: 16px; 
    border: none; 
    border-radius: 15px; 
    overflow: hidden; 
}

.ritratto-box { 
    width: 80px; 
    height: 120px; 
    border-right: 1px solid #b8b8b8; 
    cursor: pointer; 
    background-size: cover; 
    background-position: center; 
}

.ritratto-box:last-child { 
    border-right: none; 
}

.area-targhette { 
    display: flex; 
    justify-content: center; 
    gap: 6px; 
    width: 350px; 
    margin: 0 auto; 
    z-index: 10; 
    position: relative; 
    top: -20px; 
}

.targhetta-vetrata { 
    width: 76px; 
    height: 42px; 
    background: #e4d5b7; 
    background-image: radial-gradient(circle, #f2e8d5 0%, #c5a880 100%); 
    color: #2b1d0e; 
    font-family: 'Girassol', serif; 
    font-size: 11px; 
    font-weight: bold; 
    text-align: center; 
    text-transform: uppercase; 
    border: 3px solid #1a1a1a; 
    outline: none; 
    clip-path: polygon(15% 0, 85% 0, 100% 25%, 100% 75%, 85% 100%, 15% 100%, 0 75%, 0 25%); 
    box-shadow:
